# Contelligenz Assignment - IMDb Analysis

In [ ]:
import requests
from bs4 import BeautifulSoup

def get_topics_page(url):
    
    
    response=requests.get(url)
    # check successfull response
    if response.status_code != 200:
        raise Exception(f'Failed to load page {topic_url}')
    # Parse using BeautifulSoup
    doc = BeautifulSoup(response.text, 'html.parser')
    return doc

In [ ]:
topic_url = 'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=000&ref_=adv_next'
doc = get_topics_page(topic_url)

In [ ]:
doc.find('title')

<title>IMDb "Top 1000"
(Sorted by IMDb Rating Descending) - IMDb</title>

### TASK **1**

### To get URL's of movie

In [ ]:
def get_movie_url(doc):
    url_selector="lister-item-header"           
    movie_url_tags=doc.find_all('h3',{'class':url_selector})
    movie_url_tagss=[]
    base_url = 'https://www.imdb.com/'
    for tag in movie_url_tags:
        movie_url_tagss.append('https://www.imdb.com/' + tag.find('a')['href'])
    return movie_url_tagss

In [ ]:
urls = get_movie_url(doc)

In [ ]:
urls[:5]

['https://www.imdb.com//title/tt0111161/',
 'https://www.imdb.com//title/tt0068646/',
 'https://www.imdb.com//title/tt0468569/',
 'https://www.imdb.com//title/tt0167260/',
 'https://www.imdb.com//title/tt0108052/']

###**TASK 2**

### To get title of movie

In [ ]:
def get_movie_titles(doc):
    
    selection_class="lister-item-header"
    movie_title_tags=doc.find_all('h3',{'class':selection_class})
    movie_titles=[]

    for tag in movie_title_tags:
        title = tag.find('a').text
        movie_titles.append(title)
        
        
    return movie_titles

In [ ]:
titles = get_movie_titles(doc)

In [ ]:
titles[:5]

['刺激1995', '教父', '黑暗騎士', '魔戒三部曲：王者再臨', '辛德勒的名單']

Similarly we defined functions for movie url, ratings, certification, duration and  year

### To get movie duration

In [ ]:
def get_movie_duration(doc):
    
    selection_class="runtime"
    movie_duration_tags=doc.find_all('span',{'class':selection_class})
    movie_duration=[]

    for tag in movie_duration_tags:
        duration = tag.text[:-4]
        movie_duration.append(duration)
        
        
    return movie_duration

In [ ]:
durations = get_movie_duration(doc)

In [ ]:
durations[:5]

['142', '175', '152', '201', '195']

### To get certification of movie

In [ ]:
def get_movie_certification(doc):
    
    selection_class="lister-item-content"
    movie_details_tags = doc.find_all('div',{'class':selection_class})
    movie_certification=[]
    

    for detail_tag in movie_details_tags:
        
        certification_tag = detail_tag.find('span',{'class':'certificate'})
        if certification_tag:
            movie_certification.append(certification_tag.text)
        else:
            movie_certification.append('NA')                                                           
        
    return movie_certification

In [ ]:
certifications = get_movie_certification(doc)

In [ ]:

certifications[:5]

['R-12', 'R-15', 'PG-12', 'PG-13', 'R-15']

To get year of movie

In [ ]:
def get_movie_year(doc):
    year_selector = "lister-item-year text-muted unbold"           
    movie_year_tags=doc.find_all('span',{'class':year_selector})
    movie_year_tagss=[]
    for tag in movie_year_tags:
        movie_year_tagss.append(tag.get_text().strip()[1:5])
    return movie_year_tagss

In [ ]:
years = get_movie_year(doc)

In [ ]:
years[:5]

['1994', '1972', '2008', '2003', '1993']

To get Cast of Movie

In [ ]:
def get_movie_cast(doc):
    cast_selector = "cast"           
    movie_cast_tags=doc.find_all('span',{'class':cast_selector})
    movie_cast_tagss=[]
    for tag in movie_cast_tags:
        movie_cast_tagss.append(tag.get_text().strip()[1:5])
    return movie_cast_tagss

In [ ]:
cast = get_movie_cast(doc)

In [ ]:

cast[:5]

[]

### To get genre of movie

In [ ]:
def get_movie_genre(doc):
    genre_selector="genre"            
    movie_genre_tags=doc.find_all('span',{'class':genre_selector})
    movie_genre_tagss=[]
    for tag in movie_genre_tags:
        movie_genre_tagss.append(tag.get_text().strip())
    return movie_genre_tagss

In [ ]:
genres = get_movie_genre(doc)

In [ ]:
genres[:5]

['Crime, Drama', 'Drama', 'Crime, Drama', 'Drama', 'Action, Crime, Drama']

To get Crew of the movie

In [ ]:
def get_movie_crew(doc):
    crew_selector="crew"            
    movie_crew_tags=doc.find_all('span',{'class':crew_selector})
    movie_crew_tagss=[]
    for tag in movie_crew_tags:
        movie_crew_tagss.append(tag.get_text().strip[1:5])
    return movie_crew_tagss

In [ ]:
crews = get_movie_crew(doc)

In [ ]:
crews[:5]

[]

### To get ratings of movie

In [ ]:
def get_movie_rating(doc):
    rating_selector="inline-block ratings-imdb-rating"            
    movie_rating_tags=doc.find_all('div',{'class':rating_selector})
    movie_rating_tagss=[]
    for tag in movie_rating_tags:
        movie_rating_tagss.append(tag.get_text().strip())
    return movie_rating_tagss

In [ ]:
ratings = get_movie_rating(doc)

In [ ]:
ratings[:5]

['9.5', '9.3', '9.2', '9.1', '9.0']

Let's put all together into a single function

In [ ]:
import pandas as pd

In [ ]:
def all_pages(num=10):
# Let's we create a dictionary to store data of all movies
    movies_dict={
        'titles':[],
        'genre':[],
        'duration':[],
        'rating':[],
        'year':[],
        'certification':[],
        'url':[]
    }
  # We have to scrap more than one page so we want urls of all pages with the help of loop we can get all urls
    for i in range(1,num*110,100):
       
        url = 'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start='+str(i)+'&ref_=adv_next'
        doc = get_topics_page(url)
   
        
        movies_dict['titles'] += get_movie_titles(doc)
        movies_dict['url'] += get_movie_url(doc)
        movies_dict['certification'] += get_movie_certification(doc)
        movies_dict['rating'] += get_movie_rating(doc)
        movies_dict['duration'] += get_movie_duration(doc)
        movies_dict['year'] += get_movie_year(doc)
        movies_dict['genre'] += get_movie_genre(doc)   
        
    return pd.DataFrame(movies_dict)

In [ ]:
movies = all_pages()

In [ ]:
movies.to_csv('movies.csv',index=None)

movies csv file has been created, which contains the data that we've scrapped

In [ ]:
dataframe = pd.read_csv('movies.csv')

In [ ]:
dataframe

,titles,genre,duration,rating,year,certification,url
0,Jai Bhim,"Crime, Drama",164,9.5,2021,NaN,https://www.imdb.com//title/tt15097216/
1,The Shawshank Redemption,Drama,142,9.3,1994,R,https://www.imdb.com//title/tt0111161/
2,The Godfather,"Crime, Drama",175,9.2,1972,R,https://www.imdb.com//title/tt0068646/
3,Soorarai Pottru,Drama,153,9.1,2020,TV-MA,https://www.imdb.com//title/tt10189514/
4,The Dark Knight,"Action, Crime, Drama",152,9.0,2008,PG-13,https://www.imdb.com//title/tt0468569/
...,...,...,...,...,...,...,...
1995,Drishyam,"Crime, Drama, Thriller",160,8.3,2013,Not Rated,https://www.imdb.com//title/tt3417422/
1996,The Hunt,Drama,115,8.3,2012,R,https://www.imdb.com//title/tt2106476/
1997,A Separation,Drama,123,8.3,2011,PG-13,https://www.imdb.com//title/tt1832382/
1998,Incendies,"Drama, Mystery, War",131,8.3,2010,R,https://www.imdb.com//title/tt1255953/
1999,The Father,"Drama, Mystery",97,8.3,I) (,PG-13,https://www.imdb.com//title/tt10272386/

In [ ]:
!pip3 install imdbpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting imdbpy
  Downloading IMDbPY-2021.4.18-py3-none-any.whl (298 kB)
     |████████████████████████████████| 298 kB 4.2 MB/s
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.7/dist-packages (from imdbpy) (1.4.36)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from imdbpy) (4.2.6)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy->imdbpy) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy->imdbpy) (4.11.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy->imdbpy) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy->imdbpy) (4.2.0)
Installing collected packages: imdbpy
Successfully installed imdbpy-2021.4.18

In [ ]:
# importing the module 
import imdb

# creating instance of IMDb
ia = imdb.IMDb()

# name
name = "Udta punjab"

# searching the name
search = ia.search_movie(name)


# loop for printing the name and id
for i in range(len(search)):
	
	# getting the id
	id = search[i].movieID
	
	# printing it
	print(search[i]['title'] + " : " + id )

Udta Punjab : 4434004
Diljit Dosanjh (Udta Punjab) : 6574338
Put Ta Punjab : 14702992
Priyanka Talking about Udta Punjab On TV (2016) (Podcast Episode) - Morning No.1 Saurabh : 19338626

###**TASK 3**

In [ ]:
# importing the module
import imdb

# importing date class from datetime module
from datetime import date
  
# creating the date object of today's date
todays_date = date.today()
curr_year = todays_date.year

# creating instance of IMDb
ia = imdb.IMDb()

# getting the movie with id
search = ia.get_movie("0111161")

# getting movie year
year = search['year']

# printing movie name and year
print(search['title'] + " : " + str(curr_year-year))

The Shawshank Redemption : 28

Votes+Ratings

In [ ]:
# importing the module
import imdb
  
# creating instance of IMDb
ia = imdb.IMDb()
  
# id
code = "6077448"
  
# getting information
series = ia.get_movie(code)
  
# getting votes of the series
votes = series.data['votes']
rating=series.data['rating']
  
# printing the object i.e name
print(series)
  
# print the votes
print(str(votes+rating))

Sacred Games
85768.5

###**TASK 4**

In [ ]:
database = pd.read_csv('Outputs/movies_database.csv')

NameError: ignored

In [ ]:
Genres = database['Genres'].tolist()
Actors = database['Cast'].tolist()

In [ ]:
db['Cast'][0]

NameError: ignored

In [ ]:
movie_genras = []
movie_cast = []

for i in Actors:
  try:
    ii = i.strip('][').split(', ')
    for actor in ii:
      movie_cast.append(actor)
  except:
    movie_cast.append('NaN')

for j in Genres:
  try:
    jj = j.strip('][').split(', ')
    for genre in jj:
      movie_genras.append(genre)
  except:
    movie_genras.append('NaN')

df = pd.DataFrame(list(zip(movie_cast, movie_genras)), columns =['Actor', 'Genre'])
df['Genre'] = df[df.G != 'Url not found!!']
df.head()

NameError: ignored

In [ ]:
df['Genre'].value_counts()

NameError: ignored

In [ ]:
import matplotlib.pyplot as plt
df['Genre'].value_counts().plot(kind= 'bar')
plt.xlabel("Genre")
plt.ylabel("No. of movies")
plt.savefig('Plots/Top_Genres.png')
plt.show()

NameError: ignored

In [ ]:
df['Actors'].value_counts()[:10]

NameError: ignored

In [ ]:
df['Actors'].value_counts()[:10].plot(kind= 'bar')
plt.xlabel("Actor")
plt.ylabel("No. of movies")
plt.savefig('Plots/Top10_Actors.png')
plt.show()

NameError: ignored

###**TASK 5**

In [ ]:
import requests

URL = "https://imdb-api.com/en/API/Top250Movies/k_szhey6rb"

r = requests.get(url=URL)
n = 10

result = r.json()
for i in range(n):
    filtered_rating = result['items'][i]['imDbRating']
    filtered_year = int(result['items'][i]['year'])
    filtered_results = result['items'][i]['title']
    print("Movie name: ", filtered_results, "Year of release: ",
          filtered_year, "IMdB rating: ", filtered_rating)